<!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
</head>
<body>
	<h1>Add Customer</h1>
	
	<form action="/submitcustomer" method="post">
		 First name:<br>
		 <input type="text" name="FirstName"><br>
		 Last name:<br>
		 <input type="text" name="LastName"><br>
		 Email:<br>
		 <input type="text" name="EmailAddress"><br>
		 Sex:<br>
		 <input type="text" name="Sex"><br>
		 <br>
		 <input type="submit" value="Submit">
	 </form>
	 
	 <form action="/staffmenu" method="post">
    <br>
    <input type="submit" value="Return to Staff Management">
  </form>
 </body>
 </html>