<!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}
</style>
</head>
<body>
	<h1>Delete Movie</h1>
  <div>
	<table>
		<tr>
		  <th>MovieID</th>
		  <th>MovieTitle</th>
		  <th>Year</th>
		  <th>Delete</th>
		</tr>
		{% for movie in movies %}
		<tr>
			<form action="/removemovie" method="post">
				<th><input type="text" name="idMovie" value="{{ movie.0 }}" readonly></th>
				<th><input type="text" name="MovieName" value="{{ movie.1 }}"></th>
				<th><input type="text" name="MovieYear" value="{{ movie.2}}"></th>
				<th><input type="submit" value="Delete"></th>
			</form>
		{% endfor %}
		</tr>
	</table>
  </div>
  <form action="/staffmenu" method="post">
    <br>
    <input type="submit" value="Return to Staff Management">
  </form>
 </body>
 </html>