<!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}
</style>
</head>
<body>
  <h1>Movie History</h1>
  <div>
	<table>
		<tr>
		  <th>MovieTitle</th>
		  <th>Date of Viewing</th>
		  <th>Time of Viewing</th>
		  <th>Rating (1-5)</th>
		</tr>
		{% for showingList in showings %}
		<tr>
			<th>{{ showingList.0 }}</th>
			<th>{{ showingList.1 }}</th>
			<th>{{ showingList.2 }}</th> 
			<th><form action="/submitrating" method="post">
				<input type="number" name="Rating" min="1" max="5" value={{ showingList.3 }}>
				<input type="hidden" name="Showingid" value={{ showingList.4 }}>
				<input type="submit" value="Update">
			</form></th>
		{% endfor %}
		</tr>
	</table>
  </div>
  <form action="/startMenu" method="post">
    <br>
    <input type="submit" value="Return to Main Menu">
  </form>
</body>
</html>