 <!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}
</style>
<script>
function checkBoxValue() {
	if(document.getElementById("seatsAvailable").checked) {
		document.getElementById("seatsAvailableHidden").disable;
	}
}

function disableBuyButton(){
  {% for attend in attendedshowings %}
    document.getElementById("purchaseTicket{{ attend.0 }}").disabled=true;
  {% endfor %}
}
</script>
</head>
<body onload="disableBuyButton()">
  <h1>Search Showtimes</h1>
  
  <form action="/submitsearch" method="post">
	  Start Date:
	  <input type="date" name="startDate" style="margin-right: 17px;">
	  End Date:
	  <input type="date" name="endDate" style="margin-right: 17px;">
	  Movie Title:
	  <input type="text" name="MovieName" style="margin-right: 17px;"><br></br>
	  Genre:
	  <select name="genre" style="margin-right: 17px;">
	  <option value="">--Select a Genre--</option>
	  {% for movieGenre in genres %}
      <option value={{ movieGenre.0 }}>{{ movieGenre.0 }}</option>
	  {% endfor %}
      </select>
	  <input id="seatsAvailable" onClick="checkBoxValue()" type="checkbox" name="seats" value="true"> Only Available Seats
	  <input id="seatsAvailableHidden" type="hidden" name="seats" value="false">
	  <br></br>
	  <th><input type="submit" value="Search"></th>
  </form>
  <br>
  <br>
  <div>
	<table>
		<tr>
		  <th>ShowingID</th>
		  <th>Showing Date</th>
		  <th>Showing Time</th>
		  <th>MovieID</th>
		  <th>Room Number</th>
		  <th>Ticket Price</th>
		  <th>Genre</th>
		  <th>Movie Title</th>
		  <th></th>
		</tr>
		{% for showing in showings %}
		<tr>
				<th>{{ showing.0 }}</th>
				<th>{{ showing.1 }}</th>
				<th>{{ showing.2}}</th>
				<th>{{ showing.3}}</th>
				<th>{{ showing.4}}</th>
				<th>${{ showing.5}}</th>
				<th>{{ showing.6}}</th>
				<th>{{ showing.7}}</th>
				<form action="/buyticket" method="post">
				<input type="hidden" name="idShowing" value="{{showing.0}}">
				<th><input id="purchaseTicket{{ showing.0 }}" type="submit" value="Buy"></th>
				</form>
		{% endfor %}
		</tr>
	</table>
  </div>
  <form action="/startMenu" method="post">
    <br>
    <input type="submit" value="Return to Main Menu">
  </form>
</body>
</html>