<!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}
</style>
</head>
<body>
<h1>SQL Injection attack Results</h1>
	<div>
	<table>
		<tr>
			<th>CustomerID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Sex</th>
		</tr>
		{% for customer in customers %}
		<tr>
			<th>{{ customer.0 }}</th>
			<th>{{ customer.1 }}</th> 
			<th>{{ customer.2 }}</th>
			<th>{{ customer.3 }}</th>
			<th>{{ customer.4 }}</th>
		{% endfor %}
		</tr>
	</table>
	</div>
	<form action="/injectionattack">
    <br>
    <input type="submit" value="Return to previous page">
  </form>
 </body>
 </html>