<!DOCTYPE html>
<html>
<head>
<title>Theatre Manager</title>
</head>
<body>
	<h1>Theatre Manager</h1>
	<div>
	<h3>Have an account? Login.</h3>
	<form action="/mainMenu" method="post">
		 First name:<br>
		 <input type="text" name="FirstName"><br>
		 Last name:<br>
		 <input type="text" name="LastName"><br>
		 Email:<br>
		 <input type="text" name="EmailAddress"><br>
		 <br>
		 <input type="submit" value="Login">
	 </form>
	</div>
	<div>
		<br>
		<a href="/signup">New Customer? Sign in here</a><br />
	</div>
</body>
</html>